
//Monaco, Consolas, "Courier New", monospace;
//arvon, dosis, Montserrat, Merriweather, Open Sans
$font-family-base:          "Poppins",sans-serif;

$font-size-base:  .8125rem !default;

// 
$body-bg:     #f8f8fb ;
//$body-color:  #ffffff;
//$body-bg: #f1efe9;
//$body-bg: #EEE2DC;
$primary:           #556ee6;
$secondary-25:          #74788d;
$success:       #34c38f;
$info:          #50a5f1;
$warning:       #f1b44c;
$danger:        #f46a6a;
$danger-25:        #CC041C;
$light:         #eff2f7;
$dark:          #343a40;

$redlogin: #ed1c24;


// Sidebar
$sidebar-dark-bg:       #2a3042;
$sidebar-dark-brand-bg:    #fff;// #282d3e;


//// bootstrp custom variables