.notification-card-botton{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;

    &:hover {
        background-color: #e74c3c;

        .message{

            .text-truncate {
                color: white !important;
            }
        }
    }
    
}


.time{
margin: 10%;
}
.title{

}
.description{

}
.createdby{

}
.Participants{

}
.createdAt{

}
.modifiedAt{

}