.notification-card-botton{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;

    &:hover {
        background-color: #e74c3c;

        .message{

            .text-truncate {
                color: white !important;
            }
        }
    }
    
}


.time{
margin-top: 2%;
font-size: 20px;
}
.title{
    margin-top: 2%;
    font-size: 30px;
}
.description{
    margin: 5%;
}
.createdby{
    margin: 5%;
}
.Participants{
    margin: 5%;
}
.createdAt{
    margin-top: 10%;
}
.modifiedAt{
    //margin: 10%;
}