.performance-section {
  padding-top: 100px;
  margin-bottom: 60px;
}

@media (max-width: 1279px) {
  .performance-section {
    margin-bottom: 73px;
  }
}

.performance-container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1280px;

  .title {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.4em;
    line-height: 1.2em;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 1399px) {
  .performance-container {
    width: 100%;
  }
}

@media (min-width: 1279px) {
  .performance-wrapper {
    padding-left: 10.37%;
  }
}

.performance-top {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  @include prefix(box-align, start);
  @include prefix(box-orient, horizontal);
  @include prefix(box-direction, normal);

  @media (min-width: 1280px) {
    .performance-thumbnail {
      width: 66.582%;
      position: relative;
      margin-bottom: -155px;
      z-index: 1;
    }
  }
  @media (max-width: 1279px) {
    .performance-thumbnail {
      margin-bottom: 50px !important;
      width: 100%;
      text-align: center;
    }
  }

  .performance-side {
    padding-left: 6.9%;
    width: 33.418%;
    padding-bottom: 30px;
    //padding-top: 3.8%;
    //padding-left: 5.4%;
  }

  @media (max-width: 1279px) {
    .performance-side {
      float: left;
      width: 50%;
      padding-bottom: 37px;
    }
  }
  @media (max-width: 1399px) {
    .performance-side {
      padding-left: 4.9%;
    }
  }
}

.performance-card {
  display: block;
  box-shadow: 10px 15px 35px -5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 1279px) {
  .performance-avatar {
    float: left;
    margin: 0 0 0 20px;
  }
}

.performance-avatar {
  width: 120px;
  max-width: 100%;
  margin-bottom: 25px;
  display: block;
  margin-left: 14px;
}
@media (max-width: 1279px) {
  .performance-title {
    margin-top: 9% !important;
    position: relative;
    left: 22px;
    margin-top: 0.95em;
    padding-left: 15px;
    padding-top: 20px;
  }
}

.performance-title {
  margin-top: -15%;
  margin-bottom: 0.15em;
  overflow: hidden;
  white-space: nowrap;
  color: #282828;
  @include prefix(font-smoothing, antialiased);
}

@media (max-width: 1279px) {
  .performance-subtitle {
    position: relative;
    left: 22px;
    padding-left: 15px;
  }
}

.performance-subtitle {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2em;
  letter-spacing: 0.075em;
}

.performance-scores {
  width: 77.379%;
  margin-right: 0;
  margin-left: auto;
  background-color: #BAB2B5;
  margin-right: 5%;
  margin-top: -1%;
}

@media (max-width: 1279px) {
  .performance-scores {
    width: calc(100% + 70px);
    margin-top: 0;
    margin-left: -35px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-top: -10% !important;
  }
}

@media (max-width: 1399px) {
  .performance-scores {
    margin-right: 10%;
  }
}

.performance-scores-top {
  padding-top: 34px;
}

@media (max-width: 1279px) {
  .performance-scores-top {
    padding-top: 47px;
  }
}

@media (max-width: 1279px) {
  .performance-desc {
    display: none;
    padding: 17px 7% 17px 14.3%;
  }
}

@media (max-width: 1279px) {
  .performance-desc.mobile {
    display: block;
    float: left;
    width: 50%;
  }
}

.performance-desc,
.performance-enseignant {
  width: 36.188%;
  margin-right: 0;
  margin-left: auto;
  padding-left: 8.918%;
  padding-right: 8%;
}

.performance-desc.mobile {
  display: none;
}

.performance-enseignant {
  padding-right: 0;
  display: flex;
  flex-flow: row wrap;
  box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

@media (max-width: 1279px) {
  .performance-enseignant {
    back-pack: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 0;
  }
}

.single-enseignant {
  position: relative;
  display: block;

  &:hover .single-enseignant-info {
    visibility: visible;
    opacity: 1;
  }
}

.performance-scores-bottom {
  padding: 0px 0px 6px;
  margin-top: 12%;
}

@media (max-width: 1279px) {
  .performance-scores-bottom {
    padding: 0px 0px 0px;
  }
}

.score_list {
  display: flex;

  .score-item {
    display: block;
    text-align: center;
    position: relative;
    box-flex: 0;
    flex: 0 0 15%;
    margin-top:1%;
  }

  .score-item:nth-child(1) {
    width: 20%;
    margin-right: 4%;
  }
  .score-item:nth-child(2) {
    width: 20%;
    margin-right: 0%;
  }
  .score-item:nth-child(3) {
    width: 15%;
    margin-right: 0%;
  }
  .score-item:nth-child(4) {
    width: 15%;
    margin-right: 1%;
  }
  .score-item:nth-child(5) {
    width: 10%;
    margin-right: 5%;
  }
  .score-item:nth-child(6) {
    width: 20%;
    //margin-top: -1%;
  }
}

.score-caption {
  font-weight: 700;
  .score-title,
  .score-score {
    line-height: 16px;
    letter-spacing: 0.35em;
  }

  .score-title {
    font-size: 11px;
    text-transform: uppercase;
  }
  .score-score {
    font-size: 14px;
    color: #8d8c8c;
  }
}

.single-enseignant-info {
  z-index: 2;
  visibility: hidden;
  transform: translate3d(0, -10px, 0);
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  bottom: calc(100% + 11px);
  left: 50%;
  width: 258px;
  max-width: 100vw;
  margin-left: -129px;
  padding: 15px 12px;
  border-radius: 3px;
  box-shadow: 0 3px 13px 0 rgba(9, 10, 10, 0.35);
  background-color: #282828;
  color: #f7f5f2;
  text-align: center;
}

.info-name {
  font-weight: 800;
  font-size: 13px;
  margin-bottom: 0.6em;
}

.info-grade {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}

.info-scores {
  font-size: 11px;
  font-weight: 600;
}

.info-single-score {
  display: inline;
  margin: 0 0.5em;
}

.info-single-score2 {
  display: inline;
  margin: 0 0.5em;
}

.info-single-score-total {
  font-weight: 700;
}

@media (max-width: 1279px) {
  .score-item-total {
    padding-top: 3px;
    padding-right: 5px;
  }
}

@media (max-width: 1399) {
  .score-item-total {
    padding: 2px 30px 0 0;
  }
}

.score-item-total {
  padding-top: 4px;
  @include prefix(box-flex, 0);
  flex: 0 0 28%;
}

.score-summary {
  margin-right: 50%;
  margin-top: -15%;
  display: flex;
  @include prefix(box-align, center);
  align-items: center;
  @include prefix(box-pack, center);
  justify-content: center;
  //margin-bottom: 4px;
  span {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.075em;
  }
}

@media (max-width: 1279px) {
  .score-summary {
    margin-top: -10% !important;
    margin-right: -20% !important;
  }
}

.total-caption {
  font-weight: 700;
  margin-right: 42%;
}

@media (max-width: 1279px) {
  .total-caption {
    margin-top: -2% !important;
    margin-right: -25% !important;
  }
}

.total-cat {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.35em;
}

///// medal
.medal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 200px;
  height: 200px;
}

.medal {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #ffcc00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shine 4s ease-in-out infinite;
}

.icon--star {
  &:before {
    font-family: fontAwesome;
    content: "\f005";
    font-size: 70px;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.star-cluster {
  .icon--twinkle {
    &:before {
      font-family: fontAwesome;
      content: "\f005";
      color: gold;
      position: absolute;
      animation: twinkle 2s alternate ease-in infinite 2s;
    }

    &.star-a {
      &:before {
        top: 27px;
        left: 160px;
        font-size: 10px;
      }
    }

    &.star-b {
      &:before {
        top: 50px;
        left: 176px;
        font-size: 8px;
      }
    }

    &.star-c {
      &:before {
        top: 30px;
        left: 183px;
        font-size: 9px;
      }
    }

    &.star-d {
      &:before {
        bottom: 24px;
        left: 38px;
        font-size: 9px;
      }
    }

    &.star-e {
      &:before {
        bottom: 45px;
        left: 23px;
        font-size: 10px;
      }
    }

    &.delay-twinkle {
      &:before {
        animation: twinkle 3s alternate ease-in infinite 2s;
      }
    }
  }
}

@keyframes shine {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(
      top left,
      rgba(250, 250, 250, 0) 0%,
      rgba(250, 250, 250, 0) 45%,
      rgba(250, 250, 250, 0.3) 48%,
      rgba(250, 250, 250, 0.5) 50%,
      rgba(250, 250, 250, 0.3) 52%,
      rgba(250, 250, 250, 0) 57%,
      rgba(250, 250, 250, 0) 100%
    );
    background-position: -400px -400px;
    background-size: 600px 600px;
  }
  to {
    background-repeat: no-repeat;
    background-position: 250px 250px;
  }
}

@keyframes twinkle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/// Podium
.podium {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  min-height: 350px;

  @media (max-width:1279px) {
    .podium-item {
      margin: 0 50px !important;
    }
  }
  .podium-item {
    //top:0;
    //opacity: 1;
    //transition: all 500ms ease-in-out;
    margin: 0px 25px;
    display: flex;
    //flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    flex: 1;

    &:nth-child(1) .podium-base {
      height: 300px;
      width: 200px;
      box-shadow: 10px 0px 35px #ebc137;
      background-color: #f0cf65;
      background: linear-gradient(to bottom, #f0cf65 0%, #ebc137 100%);

      @media (max-width: 1279px) {
        .podium-rank {
          left: 0 !important;
          //transition: translate(-50%, -50%);
          bottom: -250px !important;
        }
      }

      .podium-rank {
        left: 42%;
        bottom: -85%;
        
      }
    }
    &:nth-child(2) .podium-base {
      height: 350px;
      width: 200px;
      box-shadow: 10px 0px 35px #bd4f6c;
      background-color: #bd4f6c;
      background: linear-gradient(to bottom, #bd4f6c 0%, #9e3b55 100%);

      @media (max-width: 1279px) {
        .podium-rank {
          left: 0 !important;
          //transition: translate(-50%, -50%);
          bottom: -300px !important;
        }
      }

      .podium-rank {
        left: 42%;
        bottom: -85%;
      }
    }
    &:nth-child(3) .podium-base {
      box-shadow: 10px 0px 35px #5e9e5e;
      height: 250px;
      width: 200px;
      background-color: #5e9ead;
      background: linear-gradient(to bottom, #5e9ead 0%, #5e9ead 100%);

      @media (max-width: 1279px) {
        .podium-rank {
          left: 0 !important;
          //transition: translate(-50%, -50%);
          bottom: -200px !important;
        }
      }
        .podium-rank {
          left: 42%;
          bottom: -85%;
        }
      
    }

    .podium-base .podium-rank {
      color: white;
      font-size: 4rem;
      font-weight: 700;
      position: relative;
    }

    .podium-info {
      //text-align : center;
      //font-size: 1.2rem;
      //margin-top: 10px;
      position: relative;

      .podium-name {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 10px;
      }
      .podium-score {
        font-size: 60%;
        color: #333;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}



//podium not mine
@mixin centerer {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}


$gray: #ececec;
$first: #BD4F6C;
$second: #F0CF65;
$third: #5E9EAD;



.number-holder {
  transition: all 500ms ease-in-out;
}

.scoreboard {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  flex-direction: column;
  background: #EDC7B7;
  &__item {
    display: flex;
    padding: 1rem 0;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
    jusitfy-content : flex-end;
    opacity: 0;
    top: 20px;
    transition: 500ms ease-in-out;
    &.is-visible {
      opacity: 1;
      top: 0;
      transition: 500ms ease-in-out;
    }
  }
  &__title {
    width: 300px;
    font-weight: 600;
    small {
      color: #333;
    }
  }
  &__status {
    font-weight: 300;
  }
  &__numbers {
    font-weight: 600;
    text-align: right;
    align-self: flex-end;
    margin-left: 20px;
    flex: 1;
  }
  &__update {
    
  }
}

.scoreboard__bar {
  width: 100%;
  margin-top: 1rem;
  background: $gray;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-basis: 100%;
  &:before {
    content: "";
    width: 100%;
    flex-basis: 100%;
    clear: both;
    display: block;
  }
  &-bar {
    position: absolute;
    height: 10px;
    left: 0;
    top: 0;
    width: 0;
    border-radius: 5px;
    background: linear-gradient(to right, $second 0%, darken($second,10%) 100%);
    transition: all 250ms ease-in-out;
  }
}

.scoreboard__podiums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto 50px auto;
  min-height: 350px;
  .scoreboard__podium {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    flex: 1;
    opacity: 0;
    top: -10px;
    &.is-visible {
      top: 0;
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
    
    &-rank {
      font-size: 4rem;
      font-weight: 700;
      @include centerer();
      bottom: 0px;
    }
    &-base {
      height: 0;
      background: $gray;
      color: #fff;
      min-width: 150px;
      border-radius: 5px;
      transition: all 1000ms ease-in-out;
      opacity: 1;
      position: relative;
      &.is-expanding {
        opacity: 1;
      }
      &--first {
        height: 250px;
        @include prefix(animation, heightscale-first 1s ease-in);
        background: linear-gradient(to bottom, $first 0%, darken($first,10%) 100%);
        
      }
      &--second {
        height: 200px;
        @include prefix(animation, heightscale-second 1s ease-in);
        background-color: $second;
        background: linear-gradient(to bottom, $second 0%, darken($second,10%) 100%);
        
      }
      
      &--third {
        @include prefix(animation, heightscale-third 1s ease-in);
        height: 150px;
         background-color: $third;
        background: linear-gradient(to bottom, $third 0%, darken($third,10%) 100%);
      }
      
    }
    &-number {
      text-align :center;
      font-size: 1.2rem;
      margin-top: 30px;
      
      small {
        display: block;
        font-size: 60%;
        color: #333;
        line-height: 1.5;
        text-transform: uppercase;
        margin: 10px;
      }
    }
  }
}
.credits {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}

#scoreboard__items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: decimal;
}

.oneup-audio {
  display: none;
}

.style-switch {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 15px;
}

body.dark-mode {
  background: #111;
  color: #fff;
  .scoreboard {
    background: #111;
    color: #fff;
    small {
      color: #eee !important;
    }
  }
  .scoreboard__bar {
    background: #333;
  }
}

.bump {
 animation: bump 500ms ease-in-out; 
}

@keyframes bump {
  0% {
    
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes heightscale-first {
  from {height:0px;} to {height: 250px;} 
}

@keyframes heightscale-second {
  from {height:0px;} to {height: 200px;} 
}
@keyframes heightscale-third {
  from {height:0px;} to {height: 150px;} 
}


.thmbnail-nav {


  .thumbnail-nav__link {
    display: block;
    z-index: 9;
    width: 120px;
    position: fixed;
    top: 50%;
    margin-top: -80px;
    font-size: 12px;
    letter-spacing: .4em;
    line-height: 50px;
    text-transform: uppercase;
    color: #282828;
    overflow: hidden;
    

   
    

    
  }

  .thumbnail-nav__link.prev {
    left:0;
   /* &:hover {
      transform: translate3d(30px,0,0);
      transition: transform .3s ease-in-out;
    }*/
  }
  .thumbnail-nav__link.next {
    right:0;
    text-align: right;
   /* &:hover {
      transform: translate3d(-30px,0,0);
      transition: transform .3s ease-in-out;
    }*/
  }
}

.thumbnail-nav__label {
  margin: 0 10px 0 20px;
  
}

.cust-btn {
   display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: .4em;
    color: #282828;
    z-index: 0;
    padding: 5px 24px 5px 0;

    
}
.cust-btn.prev {
  &:hover {
    @include prefix(animation, nac-scale-animation 2s ease-in);
  }
}
.cust-btn.next {
  &:hover {
    @include prefix(animation, nac-scale-animation 2s ease-in);
  }
}
.cust-btn.prev::before {
    content: '';
    display: block;
    width: 70px;
    height: 70%;
    position: absolute;
    bottom: -5px;
    left: -14px;
    z-index: -1;
    background-color: #d4c6e6;
    //transition: all .3s ease;
}

.cust-btn.next::before {
  content: '';
  display: block;
  width: 70px;
  height: 70%;
  position: absolute;
  bottom: -5px;
  right: 0;
  z-index: -1;
  background-color: #d4c6e6;
  transition: all .3s ease;
}

@keyframes nac-scale-animation {
  from {height: 62px;} to {height: 40px;} 
}


  .trophyimage {
    background-image: url("../assets/img/GoldTrophy.png");
    //background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.png");
    background-size: 150% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate3d(-55%, -40%, 0);
    //z-index: -1;
    opacity: 1;
  }
