.performance-wrapper {
    padding-left:10.37%;
}

.performance-title {
    display: block;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .4em;
    line-height: 1.2em;
    margin-bottom: 1.5em;
}