.suivi-card-info{
    display: flex;
    align-items: flex-start;
    
    h2 {
        font-size: 20px !important;
    }
    .card-body {
        flex:1;

        .user-info {

        }    
    }

}