.suivi-card-info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;

    .left-button {
        float: right;
        position: absolute;
        right: 10px;
        font-size: 15px;
        
        .buttonstyle {
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            box-sizing: border-box;
            box-shadow: 0 3px 5px 1px rgba(105, 41, 41, 0.2);
        }
    }

    .avatar-lg {
        width: 6rem !important;
        height: 6rem !important;
        
    }
    
    h2 {
        font-size: 20px !important;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .card-body {
        flex:1;

        .user-info {

        }    
    }

}



.small-card-as-button {
    height:100px;
    width: 100%;
    background: linear-gradient(180deg, #494c7a, #33518d 100%);
    color: white;
    
    h5 {
        color: white;
    }
}


.heigher-row {
    margin-top: -70px;
    margin-bottom: -20px;
}

.chart-card {
    height: 470px;
    canvas {
        height: 435px !important;
        width: 340px !important;
    }
}