$white: #FFFFFF;
$black: #000000;
$dark_gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light_gray: lighten($black, 60%);



.post-module {
    max-width: 400px;
    @extend %clearfix;
    margin: 20px auto !important;
    position: relative;
    z-index: 1;
    display: block;
    background: white;
    min-width: 270px;
    height: 470px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    transition: all 0.3s linear 0s;

    &:hover {

      box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
      .thumbnail {
        img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          transform: scale(1.1);
          opacity: .6;
        }
      }

      .post-content {
        .description {
          display: block !important;
          height: auto !important;
          opacity: 1 !important;
        }
      }
    }
    .thumbnail {
      background: $black;
      height: 400px;
      overflow: hidden;
      .date {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        background: #e74c3c;
        width: 55px;
        height: 55px;
        padding: 12.5px 0;
        border-radius: 100%;
        color: white;
        font-weight: 700;
        text-align: center;
        box-sizing: border-box;
        .day {
          font-size: 18px;
        }
        .month {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
      img {
        display: block;
        width: 120%;
        transition: all 0.3s linear  0s;
      }
    }
    .post-content {
      position: absolute;
      bottom: 0;
      background: #FFFFFF;
      width: 100%;
      padding: 30px;
      box-sizing: border-box;
      transition: all 10s cubic-bezier(.37,.75,.61,1.05) 5s;
      .category {
        position: absolute;
        top: -34px;
        left: 0;
        background: #e74c3c;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .title {
        margin: 0;
        padding: 0 0 10px;
        color: $dark_gray;
        font-size: 26px;
        font-weight: 700;
      }
      .sub_title {
        margin: 0;
        padding: 0 0 20px;
        color:#e74c3c;
        font-size: 20px;
        font-weight: 400;
      }
      .description {
        display: none;
        color: $gray;
        font-size: 14px;
        line-height: 1.8em;
      }
      .post-meta {
        margin: 30px 0 0;
        color: $light_gray;
        .timestamp {
          margin: 0 16px 0 0;
        }
        a {
          color: $light_gray;
          text-decoration: none;
        }
      }
    }

    /*.icon-block {
      //width: 100%;
      padding:20px;
      
      a {
        background-color: $primary;
        color: #FFFFFF;
        border-radius: 20%;
        margin: 0px 20px;
        justify-content: center;
      }
      span {

        width: 30px;
        height: 50px;
      }


    }*/
  }
  

  /*.hover {
    &:extend(.post-module:hover all);
    .post-content {
      .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
      }
    }
  }*/
  



  .crud-buttoms {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    .day {
      font-size: 18px;
    }
    .month {
      font-size: 12px;
      text-transform: uppercase;
    }
  }